<div class="sub-footer">
	<div class="container">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						All trademarks belong to their respective owners. &copy; 2016 <a
						href="https://github.com/katharsis-project">Katharsis Project</a>
						<a href="https://github.com/katharsis-project" target="_blank" class="pull-right"
							 style="border: none; color: white">
							<span class="mega-octicon octicon-mark-github"></span>
						</a>
						<a href="https://twitter.com/katharsis_io" target="_blank" class="pull-right"
							 style="margin-right: 10px; border: none; color: white">
							<span class="social_twitter_circle" style="font-size: 32px"></span>
						</a>
						<a href="https://www.linkedin.com/company/katharsis-foundation" target="_blank" class="pull-right"
							 style="margin-right: 10px; border: none; color: white">
							<span class="social_linkedin_circle" style="font-size: 32px"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
