<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<aside class="widget widget_recent_news">
					<h3 class="widget-title">Latest News</h3>
					<ul>
						<li>
							<a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60-1.png" alt="Thumb"/></a>

							<div class="widget-content">
								<a href="#">Unique utilize transfer</a>

								<p>Proactively exploit seamless strategic theme areas with timely initiatives conveniently you.</p>
								<span class="post-date">January 2, 2015</span>
							</div>
						</li>
						<li>
							<a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60-2.png" alt="Thumb"/></a>

							<div class="widget-content">
								<a href="#">HTML Tags and Formatting</a>

								<p>Proactively exploit seamless strategic theme</p>
								<span class="post-date">October 11, 2014</span>
							</div>
						</li>
					</ul>
				</aside>
			</div>
			<!-- .col-md-3 -->
			<div class="col-sm-6 col-md-3">
				<aside class="widget widget_instagram clearfix">
					<h3 class="widget-title">Instagram Photos</h3>
					<ul class="list-inline">
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60-1.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60-2.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
						<li><a class="widget-thumb" href="#"><img src="assets/img/thumb/60x60.png" alt="Thumb"/></a></li>
					</ul>
				</aside>
			</div>
			<!-- .col-md-3 -->
			<div class="col-sm-6 col-md-3">
				<aside class="widget widget_recent_entries">
					<h3 class="widget-title">Recent Posts</h3>
					<ul>
						<li>
							<a href="#">Compellingly network e-business value before unique low risk leardership markets</a>
							<span class="post-date">January 2, 2015</span>
						</li>
						<li>
							<a href="#">Markup: HTML Tags and Formatting</a>
							<span class="post-date">October 11, 2014</span>
						</li>
						<li>
							<a href="#">Image Alignment</a>
							<span class="post-date">March 10, 2014</span>
						</li>
						<li>
							<a href="#">Markup: Title With Special Characters</a>
							<span class="post-date">December 5, 2013</span>
						</li>
					</ul>
				</aside>
			</div>
			<!-- .col-md-3 -->
			<div class="col-sm-6 col-md-3">
				<aside class="widget widget_social clearfix">
					<h3 class="widget-title">Socials</h3>
					<ul>
						<li><a href="#" class="social_facebook" title="Facebook"></a></li>
						<li><a href="#" class="social_twitter"></a></li>
						<li><a href="#" class="social_pinterest"></a></li>
						<li><a href="#" class="social_instagram"></a></li>
						<li><a href="#" class="social_googleplus"></a></li>
					</ul>
				</aside>

				<aside class="widget widget_tag_cloud clearfix">
					<h3 class="widget-title">Tags</h3>

					<div class="tagcloud">
						<a href="#" class="tag-link" title="6 topic">8BIT</a>
						<a href="#" class="tag-link" title="12 topic">Articles</a>
						<a href="#" class="tag-link" title="1 topic">aside</a>
						<a href="#" class="tag-link" title="1 topic">audio</a>
						<a href="#" class="tag-link" title="2 topics">captions</a>
						<a href="#" class="tag-link" title="2 topics">categories</a>
						<a href="#" class="tag-link" title="23 topics">chat lenght</a>
						<a href="#" class="tag-link" title="3 topics">Codex</a>
						<a href="#" class="tag-link" title="3 topics">ThemeForest</a>
					</div>
					<!-- .tagcloud -->

				</aside>
			</div>
			<!-- .col-md-3 -->
		</div>
	</div>
</footer>
