<div class="sub-footer">
	<div class="container">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						All trademarks belong to their respective owners. &copy; 2015 <a
						href="https://github.com/katharsis-project">Katharsis
						Project</a>
						<a href="https://github.com/katharsis-project" class="pull-right" style="border: none; color: white">
							<span class="mega-octicon octicon-mark-github"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
