<header class="header navbar navbar-default" style="background-color: #242c36;">
	<div class="container">
		<!-- LOGO ====================================================== -->
		<div class="navbar-header">
			<a href-void class="logo-brand cursor-pointer" ui-sref="app.home">
				<img src="assets/img/katharsis-logo.png" alt="Katharsis logo"/>
			</a>
		</div>
		<!-- end:LOGO ================================================== -->

		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#main-navigation" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- MAIN_NAVIGATION ================================================== -->
			<nav class="collapse navbar-collapse" id="main-navigation">
				<ul class="nav navbar-nav main-menu">
					<li ui-sref-active="active">
						<a href-void ui-sref="app.start">Getting started</a>
					</li>
					<li ui-sref-active="active">
						<a href-void ui-sref="app.examples">Examples</a>
					</li>
					<li ui-sref-active="active">
						<a href-void ui-sref="app.docs">Documentation</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle cursor-pointer">Community</a>
						<ul class="dropdown-menu">
							<li>
								<a target="_blank" href="http://stackoverflow.com/questions/tagged/katharsis">Stack overflow</a>
							</li>
							<li>
								<a target="_blank" href="https://github.com/katharsis-project/">Github</a>
							</li>
							<li>
								<a target="_blank" href="https://gitter.im/katharsis-project/katharsis-framework">Gitter</a>
							</li>
						</ul>
					</li>
					<li ui-sref-active="active">
						<a href-void ui-sref="app.about">About</a>
					</li>
				</ul>
				<!-- end:MAIN_NAVIGATION ========================================== -->
			</nav>
		</div>
</header>
