<header id="header" class="navbar navbar-default boxed">
	<div class="container">
		<!-- LOGO ================================================== -->
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html" style="background-image:url(assets/img/logo-light.png);">Grid X</a>
			<a class="navbar-brand retina" href="index.html" style="background-image:url(assets/img/logo-light@2x.png);">Grid
				X</a>
		</div>
		<!-- end:LOGO ================================================== -->

		<!-- MAIN_NAVIGATION ================================================== -->
		<nav>
			<ul class="nav navbar-nav main-menu">
				<li class="active"><a href="index.html">Home</a>
					<ul>
						<li><a href="home-1.html">Home 1 - Fullscreen</a></li>
						<li><a href="home-2.html">Home 2 - Left Menu</a></li>
						<li><a href="home-3.html">Home 3 - Flat</a></li>
						<li><a href="home-4.html">Home 4 - Business</a></li>
						<li><a href="home-5.html">Home 5 - Business 2</a></li>
						<li><a href="home-6.html">Home 6 - Polygon</a></li>
						<li><a href="home-7.html">Home 7 - Book</a></li>
					</ul>
				</li>
				<li>
					<a href="grid-styles.html">Grid X</a>
					<ul>
						<li><a href="grid-styles.html">All In A Page</a></li>
						<li>
							<a href="grid.html?grid=x&amp;style=1">Grid X - Styles</a>
							<ul>
								<li><a href="grid.html?grid=x&amp;style=1">Style 1</a></li>
								<li><a href="grid.html?grid=x&amp;style=2">Style 2</a></li>
								<li><a href="grid.html?grid=x&amp;style=3">Style 3</a></li>
								<li><a href="grid.html?grid=x&amp;style=4">Style 4</a></li>
								<li><a href="grid.html?grid=x&amp;style=5">Style 5</a></li>
								<li><a href="grid.html?grid=x&amp;style=6">Style 6</a></li>
								<li><a href="grid.html?grid=x&amp;style=7">Style 7</a></li>
								<li><a href="grid.html?grid=x&amp;style=8">Style 8</a></li>
								<li><a href="grid.html?grid=x&amp;style=9">Style 9</a></li>
							</ul>
						</li>
						<li>
							<a href="grid.html?grid=style&amp;style=1">Grid X - Styles</a>
							<ul>
								<li><a href="grid.html?grid=style&amp;style=1">Style 1</a></li>
								<li><a href="grid.html?grid=style&amp;style=2">Style 2</a></li>
								<li><a href="grid.html?grid=style&amp;style=3">Style 3</a></li>
								<li><a href="grid.html?grid=style&amp;style=4">Style 4</a></li>
								<li><a href="grid.html?grid=style&amp;style=5">Style 5</a></li>
								<li><a href="grid.html?grid=style&amp;style=6">Style 6</a></li>
								<li><a href="grid.html?grid=style&amp;style=7">Style 7</a></li>
								<li><a href="grid.html?grid=style&amp;style=8">Style 8</a></li>
								<li><a href="grid.html?grid=style&amp;style=9">Style 9</a></li>
							</ul>
						</li>
						<li>
							<a href="grid.html?grid=masonry&amp;style=1">Masonry - Styles</a>
							<ul>
								<li><a href="grid.html?grid=masonry&amp;style=1">Style 1</a></li>
								<li><a href="grid.html?grid=masonry&amp;style=2">Style 2</a></li>
								<li><a href="grid.html?grid=masonry&amp;style=3">Style 3</a></li>
							</ul>
						</li>

						<li class="divider"></li>
						<li><a href="grid.html?grid=x&amp;style=3&amp;open=push-state">Opeing - Push State</a></li>
						<li><a href="grid.html?grid=style&amp;style=3&amp;open=open-gi">Opeing - Open GI</a></li>
						<li><a href="grid.html?grid=style&amp;style=3">Opeing - Modal</a></li>

						<li class="divider"></li>
						<li><a href="grid-1.html">Grid Demo - 1</a></li>
						<li><a href="grid-2.html">Grid Demo - 2</a></li>
						<li><a href="grid-3.html">Grid Demo - 3</a></li>
						<li><a href="grid-4.html">Grid Demo - 4</a></li>
						<li><a href="grid-5.html">Grid Demo - 5</a></li>
						<li><a href="grid-6.html">Grid Demo - 6</a></li>
					</ul>
				</li>
				<li>
					<a href="page.html">Pages</a>
					<ul>
						<li><a href="footers.html">Footer Styles</a></li>
						<li><a href="single.html">Single Pages</a>
							<ul>
								<li><a href="single.html">Post Single</a></li>
								<li><a href="portfolio-single.html">Portfolio Single</a></li>
								<li><a href="portfolio-single-full.html">Portfolio Single Fullwidth</a></li>
								<li><a href="page.html">Page</a></li>
								<li><a href="page-right.html">Page Right</a></li>
								<li><a href="page-left.html">Page Left</a></li>
							</ul>
						</li>
						<li><a href="about-us.html">About Us</a></li>
						<li><a href="contact-us.html">Contact Us</a></li>
						<li><a href="shortcodes.html">Shortcodes</a></li>
						<li><a href="blog.html">Regular Blog</a></li>

						<li class="divider"></li>
						<li><a href="404.html">404</a></li>
						<li><a href="grid-logo.html">+ Logo Page</a></li>
						<li><a href="grid-team.html">Team Page</a></li>
					</ul>
				</li>
				<li>
					<a href="headers.html">Headers</a>
					<ul>
						<li><a href="headers.html">All In A Page</a></li>
						<li><a href="home-4.html">Regular</a></li>
						<li><a href="home-1.html">Fullscreen menu</a></li>
						<li><a href="home-2.html">Left side</a></li>
						<li><a href="home-5.html">Transparent</a></li>
						<li><a href="header-transparent-bordered.html">Transparent Bordered</a></li>
						<li><a href="grid-4.html">Filled Style</a></li>
						<li><a href="headers.html#left">Align Left</a></li>
						<li><a href="grid-1.html">Align Center</a></li>
						<li><a href="headers.html#right">Align Right</a></li>
					</ul>
				</li>
				<li>
					<a href="doc.html">Doc</a>
				</li>
			</ul>
			<!-- end:MAIN_NAVIGATION ================================================== -->


			<!-- TOP_LINKS> ================================================== -->
			<ul class="nav navbar-nav navbar-right">
				<li class="header-search-form">
					<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				</li>
			</ul>
			<!-- end:TOP_LINKS ================================================== -->
		</nav>
	</div>
</header>
