<header class="header navbar navbar-default">
	<div class="container">
		<!-- LOGO ================================================== -->
		<div class="navbar-header">
			<a href-void class="navbar-brand cursor-pointer" ui-sref="app.home"></a>
		</div>
		<!-- end:LOGO ================================================== -->

		<!-- MAIN_NAVIGATION ================================================== -->
		<nav>
			<ul class="nav navbar-nav main-menu">
				<li ui-sref-active="active">
					<a href-void ui-sref="app.start">Getting started</a>
				</li>
				<li ui-sref-active="active">
					<a href-void ui-sref="app.examples">Examples</a>
				</li>
				<li ui-sref-active="active">
					<a href-void ui-sref="app.docs">Documentation</a>
				</li>
				<li ui-sref-active="active">
					<a href-void ui-sref="app.examples">Community</a>
				</li>
				<li ui-sref-active="active">
					<a href-void ui-sref="app.about">About</a>
				</li>
			</ul>
			<!-- end:MAIN_NAVIGATION ================================================== -->


			<!-- TOP_LINKS> ================================================== -->
			<ul class="nav navbar-nav navbar-right">
				<li class="header-search-form">
					<a href-void><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				</li>
			</ul>
			<!-- end:TOP_LINKS ================================================== -->
		</nav>
	</div>
</header>
