<!-- HEADER ======================================================= -->
<ng-include src="'app/layout/views/header.html'"></ng-include>
<!-- end:HEADER =================================================== -->

<!-- CONTENT ====================================================== -->
<div class="container-fluid" ui-view="content" style="margin-top: 100px"></div>
<!-- end:CONTENT ================================================== -->

<!-- FOOTER ======================================================= -->
<ng-include src="'app/layout/views/footer.html'"></ng-include>
<!-- end:FOOTER =================================================== -->

<back-to-top></back-to-top>
