<!-- HEADER ======================================================= -->
<ng-include src="'app/layout/views/header.html'"></ng-include>

<!-- end:HEADER =================================================== -->

<!-- CONTENT ====================================================== -->
<section class="content no-padding-bottom">
	<div class="container" ui-view="content"></div>
</section>
<!-- end:CONTENT ================================================== -->

<!-- FOOTER ======================================================= -->
<ng-include src="'app/layout/views/footer.html'"></ng-include>
<!-- end:FOOTER =================================================== -->

<span class="back-to-top"></span>
