<div class="container padding2x">
	<div class="row">
		<div class="col-md-3 hidden-sm hidden-xs">
			<article ng-include="'app/start/partials/affix.html'"></article>
		</div>

		<div class="col-md-9">
			<h2 class="text-center">Getting started</h2>

			<div class="divider brand centered no-margin-top"></div>

			<p>This guide will show you how to integrate Katharsis into a simple Dropwizard application. It will show how to
				create
				a simple resource <code>Project</code> and accompanying repository <code>ProjectRepository</code>.</p>

			<p>The result of this guide can be seen here: <a
				href="https://github.com/katharsis-project/katharsis-examples/tree/master/dropwizard-simple-example">
				github.com/katharsis-project/katharsis-examples/tree/master/dropwizard-simple-example</a>.</p>

			<article id="adding-dependencies"
							 ng-include="'app/start/partials/adding-dependencies.html'"
							 analytics-on="scrollby">
			</article>

			<article id="configuration"
							 ng-include="'app/start/partials/configuration.html'"
							 analytics-on="scrollby">
			</article>

			<article id="domain-objects"
							 ng-include="'app/start/partials/domain-objects.html'"
							 analytics-on="scrollby">
			</article>

			<article id="application"
							 ng-include="'app/start/partials/application.html'"
							 analytics-on="scrollby">
			</article>

			<article id="testing"
							 ng-include="'app/start/partials/testing.html'"
							 analytics-on="scrollby">
			</article>

		</div>
	</div>
</div>

<div class="row" style="background-color: #8B6C93; color: white">
	<div class="container">
		<div class="col-md-3">
			<img src="assets/img/coding.png"/>
		</div>
		<div class="col-md-9 padding2x">
			<h2>Site still under development</h2>

			<p>Feel free to come from to time to see what has changed!</p>
		</div>
	</div>
</div>

