<div class="fullwidth-section padding-1x" style="position: fixed; bottom: 0; left: 0; right: 0">
	<div class="blurred-layer" style="background-color: #242c36"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center text-light">
				<h5 class="no-margin">Looking for enterprise support? We can help you.
					<button class="btn btn-sm btn-primary sharp"
									ng-click="vm.close()"
									ui-sref="app.about"
									style="padding: 5px 30px; margin-left: 20px">Let's get in touch!
					</button>
					<button class="btn btn-sm btn-danger sharp"
									ng-click="vm.close()"
									style="padding: 5px 30px; margin-left: 20px"> No, thank you.
					</button>
				</h5>
			</div>
		</div>
	</div>
</div>
