<div class="panel-group affix" scrollfix-column style="margin-top: 70px">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#dropwizardSimple" du-smooth-scroll du-scrollspy offset="30">Dropwizard</a>
			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#dropwizardMongo" du-smooth-scroll du-scrollspy offset="30">Dropwizard + MongoDB</a>
			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#jersey" du-smooth-scroll du-scrollspy offset="30">Jersey</a>
			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#wildfly" du-smooth-scroll du-scrollspy offset="30">Wildfly</a>
			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#springBoot" du-smooth-scroll du-scrollspy offset="30">Spring Boot</a>
			</h4>
		</div>
	</div>

</div>
