<h2 class="text-center">Dropwizard</h2>
<div class="divider brand centered no-margin-top"></div>

<p>One of the examples described on Getting Started page. Uses just dropwizard and no persistent database.</p>

<p>The repository is just a simple <a
	href="https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ConcurrentHashMap.html"><code>
	ConcurrentHashMap</code></a> which stores identifiers and corresponding resources.</p>

<p>The example is available here: <a
	href="https://github.com/katharsis-project/katharsis-examples/tree/master/dropwizard-simple-example">https://github.com/katharsis-project/katharsis-examples/tree/master/dropwizard-simple-example</a>
</p>
