<h2 class="text-center">Dropwizard + MongoDB</h2>
<div class="divider brand centered no-margin-top"></div>

<p>Example which uses Dropwizard, <a href="https://github.com/HubSpot/dropwizard-guice">dropwizard-guice</a>
	extension for dependency injection and MongoDB database along with <a href="https://mongodb.github.io/morphia/">
		Morphia</a> document mapper.
</p>

<p>The repositories contain a reference to a <a href="https://github.com/mongodb/morphia/wiki/Datastore"><code>
	Datastore</code></a> which handles the object-document mapping.
</p>

<p>The example is available here: <a
	href="https://github.com/katharsis-project/katharsis-framework/tree/master/katharsis-examples/dropwizard-mongo-example">https://github.com/katharsis-project/katharsis-framework/tree/master/katharsis-examples/dropwizard-mongo-example</a>
</p>
