<h2 class="text-center">Jersey</h2>
<div class="divider brand centered no-margin-top"></div>

<p>
	It is the simplest example which present the simplest integration possible. The repositories doesn't perform any
	CRUD on the resources.
</p>

<p>The example is available here: <a
	href="https://github.com/katharsis-project/katharsis-framework/tree/master/katharsis-examples/jersey-example">https://github.com/katharsis-project/katharsis-framework/tree/master/katharsis-examples/jersey-example</a>
</p>
