<h2 class="text-center">Wildfly</h2>
<div class="divider brand centered no-margin-top"></div>

<p>
	This example presents Katharsis integration of <a href="http://wildfly.org/">Wildfly application server</a> and <a
	href="http://weld.cdi-spec.org/">Weld CDI</a>.
</p>

<p>
	Katharsis is added by a runtime-discoverable <code><a
	href="https://github.com/katharsis-project/katharsis-examples/blob/master/wildfly-example/src/main/java/io/katharsis/example/wildfly/KatharsisFeature.java">KatharsisFeature</a></code>
	and a sample repository uses <a href="https://docs.oracle.com/javase/8/docs/api/java/util/LinkedHashSet.html">
	<code>LinkedHashSet</code></a> to perform operations on resources.
</p>

<p>There is no <code>web.xml</code> provided (which is possible since Java EE 7) so there is need for a dummy
	<a href="https://docs.oracle.com/javaee/7/api/javax/ws/rs/core/Application.html"><code>Application</code></a>
	implemented in <a
		href="https://github.com/katharsis-project/katharsis-examples/blob/master/wildfly-example/src/main/java/io/katharsis/example/wildfly/WildflyApplication.java">
		<code>WildflyApplication</code></a>.
</p>

<p>The example is available here: <a
	href="https://github.com/katharsis-project/katharsis-examples/tree/master/dropwizard-mongo-example">https://github.com/katharsis-project/katharsis-examples/tree/master/dropwizard-mongo-example</a>
</p>
