<h4 class="padding-top-1x heading-dash">Adding dependencies</h4>

<p>Katharsis is using <a href="https://maven.apache.org/">maven</a> as the build tool and all of the sub-projects and
	examples are written using it. Although you can use any other tool like <a href="https://gradle.org/">gradle</a>,
	<a href="http://ant.apache.org/">ant</a>, <a href="http://ant.apache.org/ivy/">ivy</a>, <a
		href="http://www.scala-sbt.org/">SBT</a>...
	So, the first step is generating a maven POM file. To do that, a maven archetype can be used:</p>

<div hljs language="groovy" include="'assets/code/start/mvn.line'"></div>

<p>This command will create <code>dropwizard-simple-example</code> directory and generate basic maven based skeleton.</p>

<p>We can get to <code>dropwizard-simple-example</code> directory and edit the POM file:</p>

<tabset>
	<tab>
		<tab-heading>Maven</tab-heading>

		<div hljs language="xml" include="'assets/code/start/deps/mvn.xml'"></div>
	</tab>
	<tab>
		<tab-heading>Ivy</tab-heading>

		<div hljs language="xml" include="'assets/code/start/deps/ivy.xml'"></div>
	</tab>
	<tab>
		<tab-heading>Grape</tab-heading>

		<div hljs language="groovy" include="'assets/code/start/deps/grape.yml'"></div>
	</tab>
	<tab>
		<tab-heading>Gradle</tab-heading>

		<div hljs language="groovy" include="'assets/code/start/deps/gradle.yml'"></div>
	</tab>
	<tab>
		<tab-heading>Buildr</tab-heading>

		<div hljs language="groovy" include="'assets/code/start/deps/buildr.yml'"></div>
	</tab>
	<tab>
		<tab-heading>SBT</tab-heading>

		<div hljs language="groovy" include="'assets/code/start/deps/sbt.yml'"></div>
	</tab>
	<tab>
		<tab-heading>Leiningen</tab-heading>

		<div hljs language="groovy" include="'assets/code/start/deps/leiningen.yml'"></div>
	</tab>
</tabset>

<div class="divider double"></div>

<p>Next, we need to add Dropwizard dependency:</p>

<div hljs language="xml" include="'assets/code/start/dropwizard-dep.xml'"></div>

<p>Now, Katharsis dependency needs to be added. Katharsis requires Jackson classes, but they are also included in
	Dropwizard, so it is always a good practice to use exclusions:</p>

<div hljs language="xml" include="'assets/code/start/katharsis-dependency.xml'"></div>

<p>However, Katharsis out of the box uses searching of classes (resources, repositories, etc.) and for that the
<i>reflections</i> library is required. To add this library just place <i>reflections</i> dependency like this one in
	your POM:</p>

<div hljs language="xml" include="'assets/code/start/reflections-dependency.xml'"></div>

<p>Have a look at, for example, the Wildfly and Spring Boot examples to see how Katharsis can directly hook into a 
dependency injection environment without having to search for classes for itself.</p>

<p>In the end a <a href="https://maven.apache.org/plugins/maven-shade-plugin/">maven shade</a> plugin configuration
	should be added to allow building a fat JAR.</p>

<div hljs language="xml" include="'assets/code/start/shade.xml'"></div>

<div class="divider double"></div>
