<div class="panel-group affix" scrollfix-column>

	<img src="assets/img/start.png" class="img-responsive center-block"/>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#adding-dependencies" du-smooth-scroll du-scrollspy offset="30">Adding dependencies</a>
			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#configuration" du-smooth-scroll du-scrollspy offset="30">Configuration</a>
			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#domain-objects" du-smooth-scroll du-scrollspy offset="30">Domain Objects</a>
			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#application" du-smooth-scroll du-scrollspy offset="30">Application</a>
			</h4>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#testing" du-smooth-scroll du-scrollspy offset="30">Testing</a>
			</h4>
		</div>
	</div>

</div>
