<h4 class="padding-top-1x heading-dash">Application</h4>

<p>After the configuration and domain classes has been created, the application class can be created.</p>

<div hljs language="java" include="'assets//code/DropwizardService.java'"></div>

<p>Now we can build a fat JAR by typing in <code>mvn package</code> command which will compile and package the code
	into a JAR and run <code>java -jar target/dropwizard-simple-example-0.9.0.jar server configuration.yml</code> to see
	Katharsis in action! </p>

<div class="divider double"></div>
