<h4 class="padding-top-1x heading-dash">Domain objects</h4>

<p>Now we can add a domain object, a sample resource - let’s be it a <code>Project</code> class which will consist of an
	identifier and a name.</p>

<div hljs language="java" include="'app/start/code/domainObject.java'"></div>

<p>As stated above, accompanying repository need to be added. This sample doesn’t have any DB connectivity for
	clearance, but it can be added without any problem.</p>

<p>The class below uses <code>java.util.concurrent.ConcurrentHashMap</code> to store resources.</p>

<div hljs language="java" include="'app/start/code/ProjectRepository.java'"></div>

<div class="divider double"></div>
