<h2 class="text-center">Getting started</h2>
<div class="divider brand centered no-margin-top"></div>

<p>This guide will show you how to integrate Katharsis into a simple Dropwizard application. It will show how to create 
a simple resource <code>Project</code> and accompanying repository <code>ProjectRepository</code>.</p>

<p>The result of this guide can be seen here: <a href="https://github.com/katharsis-project/katharsis-examples/tree/master/dropwizard-simple-example">
github.com/katharsis-project/katharsis-examples/tree/master/dropwizard-simple-example</a>.</p>

<h4 class="padding-top-1x heading-dash">Adding dependencies</h4>

<p>Katharsis is using <a href="https://maven.apache.org/">maven</a> as the build tool and all of the sub-projects and 
examples are written using it. Although you can use any other tool like <a href="https://gradle.org/">gradle</a>,
<a href="http://ant.apache.org/">ant</a>, <a href="http://ant.apache.org/ivy/">ivy</a>, <a href="http://www.scala-sbt.org/">SBT</a>...
So, the first step is generating a maven POM file. To do that, a maven archetype can be used:</p>

<pre>
mvn archetype:generate -DgroupId=io.katharsis.sample -DartifactId=first-hateoas-app -DarchetypeArtifactId=maven-archetype-quickstart -DarchetypeVersion=1.1 -DinteractiveMode=false
</pre>

<p>This command will create <code>first-hateoas-app</code> directory and generate basic maven based skeleton.</p>

<p>We can get to <code>first-hateoas-app</code> directory and edit the POM file. We need to add additional repository (currently Katharsis is not available on Maven Central):</p>

<pre>
&#60;repositories&#62;
    &#60;repository&#62;
        &#60;id&#62;oss-jfrog-artifactory&#60;/id&#62;
        &#60;url&#62;http://oss.jfrog.org/artifactory/oss-release-local&#60;/url&#62;
    &#60;/repository&#62;
 &#60;/repositories&#62;
</pre>

<p>Next, we need to add Dropwizard dependency:</p>

<pre>
&#60;dependency&#62;
    &#60;groupId&#62;io.dropwizard&#60;/groupId&#62;
    &#60;artifactId&#62;dropwizard-core&#60;/artifactId&#62;
    &#60;version&#62;0.8.1&#60;/version&#62;
&#60;/dependency&#62;
</pre>

<p>In the end, Katharsis dependency needs to be added. Katharsis requires Jackson classes, but they are also included in Dropwizard, so it is always a good practice to use exclusions:</p>

<pre>
&#60;dependency&#62;
    &#60;groupId&#62;io.katharsis&#60;/groupId&#62;
    &#60;artifactId&#62;katharsis-rs&#60;/artifactId&#62;
    &#60;version&#62;1.0.0&#60;/version&#62;
    &#60;exclusions&#62;
        &#60;exclusion&#62;
            &#60;groupId&#62;com.fasterxml.jackson.core&#60;/groupId&#62;
            &#60;artifactId&#62;jackson-core&#60;/artifactId&#62;
        &#60;/exclusion&#62;
        &#60;exclusion&#62;
            &#60;groupId&#62;com.fasterxml.jackson.core&#60;/groupId&#62;
            &#60;artifactId&#62;jackson-databind&#60;/artifactId&#62;
        &#60;/exclusion&#62;
        &#60;exclusion&#62;
            &#60;groupId&#62;com.fasterxml.jackson.core&#60;/groupId&#62;
            &#60;artifactId&#62;jackson-annotations&#60;/artifactId&#62;
        &#60;/exclusion&#62;
    &#60;/exclusions&#62;
&#60;/dependency&#62;
</pre>

<h4 class="padding-top-1x heading-dash">Configuration</h4>

<p>Now, a simple Dropwizard configuration file is required. There are two parameters needed to be passed to Katharsis for correct working: resource and repository search package and default domain to be put in generated URLs in Katharsis responses.</p>

<p>A sample configuration file is presented below:</p>

<pre>
katharsis:
  host:          http://localhost:8080
  searchPackage: io.katharsis.example.dropwizardSimple.domain

server:
  type: simple
  applicationContextPath: /
  adminContextPath: /admin
  connector:
    type: http
    port: 8080

logging:
  level: INFO

  appenders:
    - type: console
</pre>

<p>Apart from the standard Dropwizard configuration, there are two fields for Katharsis, The default host is <a href="http://localhost:8080">http://localhost:8080</a> and the package that will be searched for resources and their repositories which is <code>io.katharsis.example.dropwizardSimple.domain</code>.</p>

<p>Then, a configuration class which will map the configuration is required. The class below presents an example of it.</p>

<pre>
package io.katharsis.example.dropwizardSimple;

import io.dropwizard.Configuration;

import javax.validation.Valid;
import javax.validation.constraints.NotNull;

public class DropwizardConfiguration extends Configuration {

    @Valid
    @NotNull
    public KatharsisConfiguration katharsis = new KatharsisConfiguration();

    public class KatharsisConfiguration {

        @Valid
        @NotNull
        public String host;

        @Valid
        @NotNull
        public String searchPackage;
    }
}
</pre>

<h4 class="padding-top-1x heading-dash">Domain objects</h4>

<p>Now we can add a domain object, a sample resource - let’s be it a <code>Project</code> class which will consist of an identifier and a name.</p>

<pre>
package io.katharsis.example.dropwizardSimple.domain.model;

import io.katharsis.resource.annotations.*;

@JsonApiResource(type = "projects")
public class Project {

    @JsonApiId
    private Long id;

    private String name;

    public Long getId() {
        return id;
    }

    public void setId(Long id) {
        this.id = id;
    }

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }
}
</pre>

<p>As stated above, accompanying repository need to be added. This sample doesn’t have any DB connectivity for clearance, but it can be added without any problem.</p>

<p>The class below uses <code>java.util.concurrent.ConcurrentHashMap</code> to store resources.</p>

<pre>
package io.katharsis.example.dropwizardSimple.domain.repository;

import com.google.common.collect.Iterables;
import io.katharsis.example.dropwizardSimple.domain.model.Project;
import io.katharsis.queryParams.RequestParams;
import io.katharsis.repository.ResourceRepository;
import io.katharsis.resource.exception.ResourceNotFoundException;

import java.util.*;
import java.util.concurrent.ConcurrentHashMap;
import java.util.concurrent.atomic.AtomicLong;
import java.util.stream.Collectors;

public class ProjectRepository implements ResourceRepository&#60;Project, Long&#62; {

    private static final Map&#60;Long, Project&#62; REPOSITORY = new ConcurrentHashMap&#60;&#62;();
    private static final AtomicLong ID_GENERATOR = new AtomicLong(1);

    public &#60;S extends Project&#62; S save(S entity) {
        if (entity.getId() == null) {
            entity.setId(ID_GENERATOR.getAndIncrement());
        }
        REPOSITORY.put(entity.getId(), entity);
        return entity;
    }

    public Project findOne(Long id) {
        Project project = REPOSITORY.get(id);
        if (project == null) {
            throw new ResourceNotFoundException("Project not found");
        }
        return project;
    }

    @Override
    public Iterable&#60;Project&#62; findAll(RequestParams requestParams) {
        return REPOSITORY.values();
    }

    @Override
    public Iterable&#60;Project&#62; findAll(Iterable&#60;Long&#62; iterable, RequestParams requestParams) {
        return REPOSITORY.entrySet()
                .stream()
                .filter(p -> Iterables.contains(iterable, p.getKey()))
                .collect(Collectors.toMap(Map.Entry::getKey, Map.Entry::getValue))
                .values();
    }

    public void delete(Long id) {
        REPOSITORY.remove(id);
    }
}
</pre>

<h4 class="padding-top-1x heading-dash">Application</h4>

<p>After the configuration and domain classes has been created, the application class can be created.</p>

<pre>
package io.katharsis.example.dropwizardSimple;

import io.dropwizard.Application;
import io.dropwizard.setup.Environment;
import io.katharsis.locator.SampleJsonServiceLocator;
import io.katharsis.rs.KatharsisFeature;

import static io.katharsis.rs.KatharsisProperties.*;

public class DropwizardService extends Application&#60;DropwizardConfiguration&#62; {

    @Override
    public void run(DropwizardConfiguration dropwizardConfiguration, Environment environment) throws Exception {

        environment.jersey().property(RESOURCE_DEFAULT_DOMAIN, dropwizardConfiguration.katharsis.host);
        environment.jersey().property(RESOURCE_SEARCH_PACKAGE, dropwizardConfiguration.katharsis.searchPackage);

        KatharsisFeature katharsisFeature = new KatharsisFeature(environment.getObjectMapper(), new
                SampleJsonServiceLocator());
        environment.jersey().register(katharsisFeature);
    }

    public static void main(String[] args) throws Exception {
        new DropwizardService().run(args);
    }
}
</pre>

<p>Now we can compile the code and run <code>DropwizardService server configuration.yml</code> and see Katharsis in action! </p>

<h4 class="padding-top-1x heading-dash">Testing</h4>

<p>We can make for example:</p>

<pre>
POST /projects HTTP/1.1
Host: localhost:8080
Content-Length: 100
Accept: application/vnd.api+json
Content-Type: application/vnd.api+json

{
  "data": {
    "type": "projects",
    "attributes": {
      "name": "sample project"
    }
  }
}
</pre>

<p>And the following response can be seen on the screen:</p>

<pre>
HTTP/1.1 200 OK
Content-Type: application/vnd.api+json
Content-Length: 142

{
  "data": {
    "type": "projects",
    "id": "4",
    "attributes": {
      "name": "sample project"
    },
    "links": {
      "self": "http://localhost:8080/projects/4"
    }
  },
  "included": []
}
</pre>

<p>It means that we successfully configured Dropwizard with Katharsis and makes use of JSON API in Java!</p>

<div class="divider double"></div>
