<div class="container padding2x">
	<div class="row">
		<div class="col-md-3 hidden-sm hidden-xs">
			<article ng-include="'app/examples/partials/affix.html'"></article>
		</div>

		<div class="col-md-9">

			<div class="row">
				<div class="col-md-3">
					<img src="assets/img/satelite.jpg" class="img-responsive center-block"/>
				</div>
				<div class="col-md-9">
					<h2>Examples</h2>

					<div class="divider brand no-margin-top"></div>

					<p>There are four examples which can help you to take insight of how to integrate the Katharsis into your
						project.
					</p>

					<p>All of the examples listed here are available in <a
						href="https://github.com/katharsis-project/katharsis-examples">katharsis-examples</a> repository.</p>

				</div>
			</div>

			<article id="dropwizardSimple"
							 ng-include="'app/examples/partials/dropwizardSimple.html'"
							 analytics-on="scrollby">
			</article>

			<article id="dropwizardMongo"
							 ng-include="'app/examples/partials/dropwizardMongo.html'"
							 analytics-on="scrollby">
			</article>

			<article id="jersey"
							 ng-include="'app/examples/partials/jersey.html'"
							 analytics-on="scrollby">
			</article>

			<article id="wildfly"
							 ng-include="'app/examples/partials/wildfly.html'"
							 analytics-on="scrollby">
			</article>

		</div>
	</div>
</div>

