<div class="container padding2x">
	<div class="row">
		<div class="col-md-8">
			<h3 class="heading-dash">Meet the team</h3>

			<div class="row">
				<div class="col-sm-4 col-md-3">
					<div class="team-box style-circle text-center">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAXzAAAAJDA2YzY3YzgzLTZlYTAtNDE5MS1iNTAyLTE2MWIxMTY2MGEwMQ.jpg"
							alt="Błażej Krysiak">
						<h4>Błażej Krysiak</h4>

						<a href="https://pl.linkedin.com/in/blazejkrysiak/en"
							 title="LinkedIn"
							 class="social_linkedin"></a>

						<a href="https://twitter.com/masterspambot"
							 title="Twitter"
							 class="social_twitter"></a>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="team-box style-circle text-center">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUgAAAAJGQ1MzYxODYwLWQ3MmYtNGFlNC1iODUzLWNjNTg2MjgyZTU5Yw.jpg"
							alt="Patryk Orwat">
						<h4>Patryk Orwat</h4>

						<a href="https://pl.linkedin.com/in/meshuga"
							 title="LinkedIn"
							 class="social_linkedin"></a>

						<a href="https://twitter.com/meshuga"
							 title="Twitter"
							 class="social_twitter"></a>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="team-box style-circle text-center">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAXzAAAAJDA2YzY3YzgzLTZlYTAtNDE5MS1iNTAyLTE2MWIxMTY2MGEwMQ.jpg"
							alt="Błażej Krysiak">
						<h4>Błażej Krysiak</h4>

						<a href="https://pl.linkedin.com/in/blazejkrysiak/en"
							 title="LinkedIn"
							 class="social_linkedin"></a>

						<a href="https://twitter.com/masterspambot"
							 title="Twitter"
							 class="social_twitter"></a>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="team-box style-circle text-center">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUgAAAAJGQ1MzYxODYwLWQ3MmYtNGFlNC1iODUzLWNjNTg2MjgyZTU5Yw.jpg"
							alt="Patryk Orwat">
						<h4>Patryk Orwat</h4>

						<a href="https://pl.linkedin.com/in/meshuga"
							 title="LinkedIn"
							 class="social_linkedin"></a>

						<a href="https://twitter.com/meshuga"
							 title="Twitter"
							 class="social_twitter"></a>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="team-box style-circle text-center">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAXzAAAAJDA2YzY3YzgzLTZlYTAtNDE5MS1iNTAyLTE2MWIxMTY2MGEwMQ.jpg"
							alt="Błażej Krysiak">
						<h4>Błażej Krysiak</h4>

						<a href="https://pl.linkedin.com/in/blazejkrysiak/en"
							 title="LinkedIn"
							 class="social_linkedin"></a>

						<a href="https://twitter.com/masterspambot"
							 title="Twitter"
							 class="social_twitter"></a>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="team-box style-circle text-center">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUgAAAAJGQ1MzYxODYwLWQ3MmYtNGFlNC1iODUzLWNjNTg2MjgyZTU5Yw.jpg"
							alt="Patryk Orwat">
						<h4>Patryk Orwat</h4>

						<a href="https://pl.linkedin.com/in/meshuga"
							 title="LinkedIn"
							 class="social_linkedin"></a>

						<a href="https://twitter.com/meshuga"
							 title="Twitter"
							 class="social_twitter"></a>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="team-box style-circle text-center">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAXzAAAAJDA2YzY3YzgzLTZlYTAtNDE5MS1iNTAyLTE2MWIxMTY2MGEwMQ.jpg"
							alt="Błażej Krysiak">
						<h4>Błażej Krysiak</h4>

						<a href="https://pl.linkedin.com/in/blazejkrysiak/en"
							 title="LinkedIn"
							 class="social_linkedin"></a>

						<a href="https://twitter.com/masterspambot"
							 title="Twitter"
							 class="social_twitter"></a>
					</div>
				</div>

				<div class="col-sm-4 col-md-3">
					<div class="team-box style-circle text-center">
						<img
							src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUgAAAAJGQ1MzYxODYwLWQ3MmYtNGFlNC1iODUzLWNjNTg2MjgyZTU5Yw.jpg"
							alt="Patryk Orwat">
						<h4>Patryk Orwat</h4>

						<a href="https://pl.linkedin.com/in/meshuga"
							 title="LinkedIn"
							 class="social_linkedin"></a>

						<a href="https://twitter.com/meshuga"
							 title="Twitter"
							 class="social_twitter"></a>
					</div>
				</div>

			</div>
		</div>

		<div class="col-md-4">

			<h3 class="heading-dash">About us</h3>

			<p>Assertively empower state of the art best practices rather than backend markets. Enthusiastically architect in
				an intermandated alignments for granular infrastructures. Synergistically impact competitive ideas.</p>

			<p>We are a team. This is a talented group of people who participating us all around the world. Let's meet
				following team leaders and directors. They are our brains, they think &amp; we go!</p>

			<p>This is a powerful template we've ever built. It's not just a powerful, quite beautiful and unlimited
				variations of trand features. You can build any type of website with it such as Corporate, Creative, Blog,
				Portfolio, Magazine and Grid sites.</p>

		</div>
	</div>

	<div class="divider"></div>

	<div class="row padding2x">

		<div class="col-md-8">
			<h3 class="heading-dash">Get In Touch</h3>


			<p>Feel in need to get some help using Katharsis? Or maybe your are looking for long term support? Need help for
				your company to better design API and more effectively develop the code? Feel free to contact us. We will
				help you.</p>

			<form class="clearfix" action="sendmail.php" method="post" id="contactform" data-toggle="validator" role="form"
						novalidate="novalidate" _lpchecked="1">
                                <span class="form-field small-field">
                                    <input type="text" name="name" class="form-control" placeholder="Name">
                                </span>
                                <span class="form-field small-field">
                                    <input type="email" name="email" id="email" value="" tabindex="2"
																					 class="form-control" placeholder="Email" required="" aria-required="true">
                                </span>
                                <span class="form-field">
                                    <input type="text" name="subject" id="subject" value="" tabindex="3"
																					 class="form-control" placeholder="Subject" required="" aria-required="true">
                                </span>
                                <span class="form-field">
                                    <textarea name="comment" cols="50" rows="6" tabindex="4" class="form-control"
																							placeholder="Your Message ..." required=""
																							aria-required="true"></textarea>
                                </span>
				<button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit"
								class="btn btn-primary sharp">Send
				</button>
			</form>
		</div>

		<div class="col-md-4">
			<img src="assets/img/bird.jpg" class="img-responsive center-block">
		</div>
	</div>
</div>
