.master-slider .ms-nav-next,
.master-slider .ms-nav-prev {
	display: none;
}

.master-slider .slider-caption {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 41% !important;
}

.master-slider .text-white {
	color: #FFF;
}

.master-slider .bold-text {
	font-weight: 700;
}

.master-slider .thin-text {
	font-weight: 100;
}

.master-slider .big-text {
	font-size: 60px;
	letter-spacing: 3px;
	margin-bottom: 30px;
}

.master-slider .small-text {
	font-size: 18px;
}

.master-slider p {
	line-height: 1;
}

.master-slider .one-half, .master-slider .one-half-last {
	width: 50%;
	position: absolute;
	left: 0;
	top: 41%;
}

.master-slider .one-half-last {
	right: 0;
}

.master-slider .slider-background {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}
