<div class="container">
	<div class="row padding1x">
		<div class="col-md-6">
			<img src="assets/img/globe.jpg" class="img-responsive center-block"/>
		</div>

		<div class="col-md-6 pull-right">
			<h2 class="text-info">Widely standardized interface</h2>

			<p>Systems nowadays utilize data from various systems to leverage the business needs. To achieve that,
				many of them provide usually inconsistent REST interface.</p>

			<h4 class="heading-dash style-light padding-top-1x">Providing homogeneous REST interface</h4>

			<p>Katharsis implements <a href="http://jsonapi.org/" target="_blank">JSON:API</a> standard which introduce
				consistent REST interface definition. Now it can
				be easy to integrate with other systems through uniform mechanisms.</p>

			<h4 class="heading-dash style-light padding-top-1x">Use the purest form of REST</h4>

			<p>JSON:API is based on HATEOAS which means <i>Hypermedia as the Engine of Application State</i>. It is
				the highest form of REST which allows producing and storing as little documentation as possible.</p>
		</div>
	</div>

	<div class="row padding1x">
		<div class="col-md-6 col-md-push-6">
			<img src="assets/img/car.jpg" class="img-responsive center-block"/>
		</div>

		<div class="col-md-6 col-md-pull-6">
			<h2 class="text-info">Ease of development process</h2>

			<p>By using Katharsis it is easier to develop both Customer Facing Applications and server side services. The
				developers can have one unified base for their work.</p>

			<h4 class="heading-dash style-light padding-top-1x">Consistent resources and repositories</h4>

			<p>Katharsis introduces a way of defining both resources which can be shared over the REST interface and a
				repository for their handling.</p>

			<h4 class="heading-dash style-light padding-top-1x">Integration with other libraries</h4>

			<p>Because of the usage of JSON:API, Katharsis can be used with many other libraries which support the
				standard.</p>
		</div>

	</div>

	<div class="divider"></div>
</div>
