<div class="container">
	<div class="divider line"></div>

	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="service-box style-center small animated fadeInUp">
				<div class="service-icon"><span class="icon-genius"></span></div>
				<h3>Create uniform REST APIs</h3>

				<p>Use state-of-art JSON API standard to support HATEOAS in your project</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="service-box style-center small animated fadeInUp" style="-webkit-animation-delay: 0.3s; animation-delay: 0.3s;">
				<div class="service-icon"><span class="icon-tools-2"></span></div>
				<h3>Low number of deps</h3>

				<p>Katharsis project is build from modules and uses as few dependencies as possible</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="service-box style-center small animated fadeInUp" style="-webkit-animation-delay: 0.6s; animation-delay: 0.6s;">
				<div class="service-icon"><span class="icon-layers"></span></div>
				<h3>Utilize DDD easily</h3>

				<p>Model resources in domains and repositories in a straightforward way</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="service-box style-center small animated fadeInUp" style="-webkit-animation-delay: 0.9s; animation-delay: 0.9s;">
				<div class="service-icon"><span class="icon-speedometer"></span></div>
				<h3>Integration without pain</h3>

				<p>It is easy to integrate it into JAX-RS application with one line of code</p>
			</div>
		</div>
	</div>

	<div class="divider"></div>
</div>
