<div class="container padding1x">
	<div class="row">

		<div class="col-md-6">
			<img src="assets/img/bird.jpg" class="img-responsive center-block"/>
		</div>

		<div class="col-md-6">
			<h2 class="text-info">Standard frameworks integration</h2>

			<p>Katharsis can be easily integrated into server side frameworks.</p>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
								 aria-controls="collapseOne">
								Database integration
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
							 aria-labelledby="headingOne">
						<div class="panel-body">
							<p>By implementing defined repositories and resources it is easy integrate Katharsis with:</p>
							<ul>
								<li>SQL solutions like Hibernate or JOOQ</li>
								<li>No-SQL products like MongoDB and other key-value storage</li>
								<li>In-memory custom storage</li>
								<li>And many more...</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading collapsed" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
								 aria-controls="collapseTwo">
								JAX-RS integration
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<p>Katharsis uses internally Jackson for JSON manipulation and can be also used in resource's
								definition.</p>

							<p>JAX-RS integration can be applied in less than 5 minutes and it won't break current implementation.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading collapsed" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
								 aria-controls="collapseThree">
								Servlet integration
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<p>Katharsis can be used with other frameworks which use Java Servlet API.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading collapsed" role="tab" id="headingFour">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
								 aria-controls="collapseFour">
								Spring integration
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							<p>Katharsis provide an easy integration with Spring Boot by providing a configuration class.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
