<div class="row slider">

	<div class="container animated fadeIn">
		<div class="row">
			<div class="col-xs-push-1 col-xs-12 col-sm-push-0 col-sm-12 col-md-push-0 col-md-6">
				<h1 style="font-size: 60px; font-weight: bold">Katharsis</h1>

				<h4>Elegant and powerful HATEOAS</h4>
				<h4>for Java using JSON:API standard</h4>

				<div class="padding-top-1x">
					<a class="btn glass btn-success" ui-sref="app.start">GET STARTED</a>
					<a class="btn glass btn-success" href="https://github.com/katharsis-project">
						<i class="octicon octicon-mark-github"></i> GITHUB
					</a>
				</div>
			</div>
		</div>

		<img src="assets/img/engine_3.png"/>
	</div>

</div>
