<div class="master-slider">

	<!-- new slide -->
	<div class="ms-slide slide-1" data-delay="6" style="background-color: #242c36" >
		<!-- slide background -->
		<div class="container">
			<img src="assets/img/engine_3.png"
					 style="right: 0px; bottom: -30px"
					 class="ms-layer"
					 data-type="image"
					 data-duration="500"
					 data-delay="100"
					 data-ease="fadeIn"/>

			<h1 class="ms-layer big-text text-white bold-text no-margin text-uppercase"
					style="left: 30px; top: 180px;"
					data-type="text"
					data-effect="bottom(short)"
					data-duration="250"
					data-delay="500"
					data-hide-effect="fade">
				Katharsis
			</h1>

			<h4 class="ms-layer"
					style="left: 30px; top: 260px; color:#fff; line-height: 1.5"
					data-type="text"
					data-effect="bottom(short)"
					data-duration="250"
					data-delay="750"
					data-hide-effect="fade">
				 Elegant and powerful HATEOAS <br> for Java using JSON:API standard
			</h4>

			<div class="ms-layer"
					 style="left: 30px; top: 350px; color:#fff; font-size: 24px;"
					 data-effect="bottom(short)"
					 data-duration="250"
					 data-delay="1000"
					 data-ease="easeInCubic"
					 data-hide-effect="fade">
				<a class="btn glass btn-success" href="#" ui-sref="app.start">GET STARTED</a>
				<a class="btn glass btn-success" href="https://github.com/katharsis-project">
					<i class="octicon octicon-mark-github"></i> GITHUB
				</a>
			</div>
		</div>
	</div>
	<!-- end of slide -->

	<span class="mouse-wheel">
        <i class="wheel"></i>
    </span>
</div>
