<section>
	<!-- SLIDER ================================================== -->
	<ng-include src="'app/home/partials/slider.html'"></ng-include>
	<!-- end:SLIDER ============================================== -->
</section>

<section>
	<div class="container">
		<div class="row padding2x no-padding-bottom">
			<div class="col-md-12">
				<div class="text-center">
					<h1 class="heading-dash style-light">What is Katharsis</h1>

					<p>The Katharsis library adds an additional layer on top of RESTful endpoint to provide easy HATEOAS support
						for Java by implementing JSON:API standard.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<!-- FEATURES ================================================ -->
	<ng-include src="'app/home/partials/features.html'"></ng-include>
	<!-- end:FEATURES ============================================ -->
</section>

<section>
	<div class="container">
		<div class="no-padding-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<img src="assets/img/home5/iphone-mockup.png" alt="Mockup"/>
					</div>

					<div class="col-md-6 pull-right">
						<h2 style="font-weight:100;">Globally integrate premium resource</h2>

						<p>Testing procedures whereas backend systems timely responses. Proactively build 24/365 e-services without
							clicks-and-mortar benefits. Globally maintain holistic alignments via timely testing procedures.</p>
						<h4>Process improvements before</h4>

						<p>Dramatically pontificate professional niche markets after exceptional potentialities. Credibly create
							world-class solutions whereas.</p>
						<h4>Objectively optimize functional content</h4>

						<p>High standards in methods of empowerment. Proactively supply holistic leadership skills recaptiualize
							front-end expertise without high-quality benefits.</p>
					</div>
				</div>
				<!-- end .row -->
				<div class="divider no-padding"></div>
			</div>
			<!-- end .container -->
		</div>

		<div class="row padding2x">
			<div class="container">
				<div class="col-md-6">
					<h2 style="font-weight:100;">Complete markets core benefits</h2>

					<p>Objectively cultivate collaborative whereas transparent leadership skills. Appropriately network
						transparent intellectual capital with value-added methodologies.</p>

					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne">
										Advantage list
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<p>Distinctively network cross-platform e-services whereas reliable partnerships.</p>
									<ul>
										<li>Synergistically integrate customized growth</li>
										<li>Strategies before orthogonal relationships</li>
										<li>Uniquely deliver granular resources robust convergence</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading collapsed" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
										 aria-controls="collapseTwo">
										Sequencial operations
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<p>Synergistically deploy customer directed metrics multifunctional technologies. Competently
										synthesize integrated web services with revolutionary resources.</p>

									<p>Assertively re-engineer high-quality synergy. Phosfluorescently create client-focused leadership
										for client-focused catalysts for change.</p>
								</div>
							</div>
						</div>
					</div>

					<button type="button" class="btn styled btn-primary">PURCHASE NOW</button>
				</div>

				<div class="col-md-6 text-center">
					<img src="assets/img/home5/laptop-mockup.png" alt="Mockup"/>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="background-color: #fc5857; color: white">
		<div class="container">
			<div class="col-md-12">
				<div class="testimonials-slider">
					<div class="testimonial with-thumb style-centered">
						<a href="#"><img src="assets/img/demo-images/team-3.png" alt="Team"></a>
						<blockquote>
							<p>My favorite things in life don't cost any money. It's really clear that the most precious resource
								we all have is time.</p>
							<footer>Steve Jobs <span>Apple Inc.</span></footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
