<section>
	<!-- SLIDER ================================================== -->
	<ng-include src="'app/home/partials/slider.html'"></ng-include>
	<!-- end:SLIDER ============================================== -->
</section>

<section>
	<div class="container">
		<div class="row padding2x no-padding-bottom">
			<div class="col-md-12">
				<div class="text-center">
					<h1 class="heading-dash style-light">What is Katharsis</h1>

					<p>The Katharsis library adds an additional layer on top of RESTful endpoint to provide easy HATEOAS support
						for Java by implementing JSON:API standard.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section>
	<!-- FEATURES ================================================ -->
	<ng-include src="'app/home/partials/features.html'"></ng-include>
	<!-- end:FEATURES ============================================ -->
</section>

<section>
	<!-- DESC ==================================================== -->
	<ng-include src="'app/home/partials/desc.html'"></ng-include>
	<!-- end:DESC ================================================ -->
</section>

<section>
	<!-- INTEGRATIONS ============================================ -->
	<ng-include src="'app/home/partials/integrations.html'"></ng-include>
	<!-- end:INTEGRATIONS ======================================== -->
</section>

<section>
	<div class="row" style="background-color: rgba(0, 0, 0, 0.0392157);">
		<div class="col-md-12">
			<img src="http://forthebadge.com/images/badges/built-by-developers.svg"
					 class="img-responsive center-block padding1x"/>
		</div>
	</div>
</section>
