<!-- Top slider ================================================== -->
<section class="top-slider fullwidth" data-height="600">
	<!-- masterslider -->
	<div class="master-slider ms-skin-default" id="masterslider">


		<!-- new slide -->
		<div class="ms-slide slide-1" data-delay="6">

			<!-- slide background -->
			<img src="assets/css/masterslider/style/blank.gif" data-src="assets/img/home5/home-5-1-bg.jpg"
					 alt="Slide3 Background"/>

			<img src="assets/css/masterslider/style/blank.gif" data-src="assets/img/home5/home-5-tablet.png" alt="Tablet"
					 style="right:0; bottom:0;"
					 class="ms-layer"
					 data-type="image"
					 data-effect="bottom(200|800)"
					 data-duration="500"
					 data-delay="0"
					 data-ease="easeInOutCubic"
					 data-hide-effect="bottom(short)"
				/>

			<h1 class="ms-layer"
					style="left: 0;top: 180px; color:#fff; font-weight: 100; font-size: 48px;"
					data-type="text"
					data-effect="bottom(short)"
					data-duration="250"
					data-delay="500"
					data-hide-effect="fade"
				>Dynamically restore team<br> building business value.</h1>

			<div class="ms-layer"
					 style="left: 0;top: 360px; color:#fff; font-size: 24px;"
					 data-effect="bottom(short)"
					 data-duration="250"
					 data-delay="750"
					 data-ease="easeInCubic"
					 data-hide-effect="fade"
				>
				<a class="btn glass btn-success" href="#">PURCHASE NOW</a>
			</div>

			<div class="ms-layer"
					 style="left: 200px;top: 360px; color:#fff; font-size: 24px;"
					 data-effect="bottom(short)"
					 data-duration="250"
					 data-delay="800"
					 data-ease="easeInCubic"
					 data-hide-effect="fade"
				>
				<a class="btn styled btn-primary" href="#"
					>GET STARTED</a>
			</div>

		</div>
		<!-- end of slide -->


		<!-- new slide -->
		<div class="ms-slide slide-3" data-delay="8">

			<!-- slide background -->
			<img src="assets/css/masterslider/style/blank.gif" data-src="assets/img/home5/home-5-2-bg.jpg"
					 alt="Slide3 Background"/>

			<img src="assets/css/masterslider/style/blank.gif" data-src="assets/img/home5/home-5-iphone.png" alt="iPhone"
					 style="left:0; bottom:0;"
					 class="ms-layer"
					 data-type="image"
					 data-effect="bottom(200|800)"
					 data-duration="500"
					 data-delay="0"
					 data-ease="easeInOutCubic"
					 data-hide-effect="bottom(short)"
				/>

			<div class="ms-layer slider-caption" data-type="text" data-effect="bottom(short)" data-duration="500"
					 data-delay="500" data-ease="easeOutExpo"
					 style="right:0;width:auto;text-align:right;"
				>
				<h2 class="big-text text-white bold-text">GRID X THEME</h2>
			</div>

			<div class="ms-layer slider-caption" data-type="text" data-effect="bottom(short)" data-duration="500"
					 data-delay="600" data-ease="easeOutExpo"
					 style="right:5px;width:auto;text-align:right;top:58% !important"
				>
				<p class="text-bold text-white thin-text small-text">Square Magazine Portfolio Blog Template <br>Competently
					maximize business metrics vis-a-vis efficient solutions.</p>
			</div>

			<button class="btn glass btn-success ms-layer"
							data-type="text"
							data-effect="bottom(short)"
							data-duration="250"
							data-delay="700"
							data-ease="easeOutExpo"
							style="bottom:110px;right:200px;width:auto;left:auto;"

				>MORE FEATURES
			</button>
			<button class="btn btn-success styled ms-layer"
							data-type="text"
							data-effect="bottom(short)"
							data-duration="250"
							data-delay="750"
							data-ease="easeOutExpo"
							style="bottom:110px;right:0;width:auto;left:auto;"

				>PURCHASE NOW
			</button>

		</div>
		<!-- end of slide -->


		<!-- new slide -->
		<div class="ms-slide slide-2" data-delay="8">

			<!-- slide background -->
			<img src="assets/css/masterslider/style/blank.gif" data-src="assets/img/home5/home-5-3-bg.jpg"
					 alt="Slide3 Background"/>

			<img src="assets/css/masterslider/style/blank.gif" data-src="assets/img/home5/home-5-laptop.png" alt="iPhone"
					 class="ms-layer"
					 style="bottom:50px;left:185px;"
					 data-type="image"
					 data-effect="bottom(200|800)"
					 data-duration="500"
					 data-delay="0"
					 data-ease="easeInOutCubic"
					 data-hide-effect="bottom(short)"
				/>

			<div class="ms-layer text-center slider-caption"
					 data-type="text"
					 data-effect="bottom(short)"
					 data-duration="300"
					 data-delay="500"
					 data-ease="easeOutExpo"
				>
				<h2 class="big-text text-white light-text">GRID X THEME</h2>
			</div>
			<div class="ms-layer slider-caption text-center" data-type="text" data-effect="bottom(short)"
					 data-duration="300" data-delay="600" data-ease="easeOutExpo"
					 style="top:56% !important"
				>
				<p class="text-bold text-white thin-text small-text">Square Magazine Portfolio Blog Template</p>
			</div>

		</div>
		<!-- end of slide -->


	</div>
	<!-- end masterslider -->
</section>
<!-- Content ================================================== -->
<section class="content no-padding-bottom">
	<div class="container">

		<div class="row padding2x no-padding-bottom">
			<div class="col-md-12">
				<div class="text-center">
					<h1 class="heading-dash style-light">Welcome To The Miracle</h1>

					<p>Seamlessly drive state of the art total linkage before inexpensive outsourcing. Energistically create
						installed base.<br>Conveniently pontificate multifunctional technologies for high-quality leadership.</p>
				</div>
			</div>
		</div>
		<div class="divider line"></div>

		<!-- Services -->
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="service-box style-center small" data-animate="fadeInUp">
					<div class="service-icon"><span class="icon_star_alt"></span></div>
					<h3>Service Quality</h3>

					<p>Professionally promote performance based e-commerce rather than team driven e-tailers. Uniquely extend
						seamless.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="service-box style-center small" data-animate="fadeInUp">
					<div class="service-icon"><span class="icon_cloud-upload_alt"></span></div>
					<h3>Media Embeds</h3>

					<p>Professionally promote performance based e-commerce rather than team driven e-tailers. Uniquely extend
						seamless.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="service-box style-center small" data-animate="fadeInUp">
					<div class="service-icon"><span class="icon_genius"></span></div>
					<h3>Page Builder</h3>

					<p>Professionally promote performance based e-commerce rather than team driven e-tailers. Uniquely extend
						seamless.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="service-box style-center small" data-animate="fadeInUp">
					<div class="service-icon"><span class="icon_mobile"></span></div>
					<h3>Mobile Apps</h3>

					<p>Professionally promote performance based e-commerce rather than team driven e-tailers. Uniquely extend
						seamless.</p>
				</div>
			</div>

		</div>
		<!-- end .row -->
		<div class="divider"></div>
	</div>
	<!-- end .container -->


	<!-- Fullwidth section
  ================================================== -->
	<div class="fullwidth-section no-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center">
					<img src="assets/img/home5/iphone-mockup.png" alt="Mockup"/>
				</div>

				<div class="col-md-6 pull-right">
					<h2 style="font-weight:100;">Globally integrate premium resource</h2>

					<p>Testing procedures whereas backend systems timely responses. Proactively build 24/365 e-services without
						clicks-and-mortar benefits. Globally maintain holistic alignments via timely testing procedures.</p>
					<h4>Process improvements before</h4>

					<p>Dramatically pontificate professional niche markets after exceptional potentialities. Credibly create
						world-class solutions whereas.</p>
					<h4>Objectively optimize functional content</h4>

					<p>High standards in methods of empowerment. Proactively supply holistic leadership skills recaptiualize
						front-end expertise without high-quality benefits.</p>
				</div>
			</div>
			<!-- end .row -->
			<div class="divider no-padding"></div>
		</div>
		<!-- end .container -->
	</div>
	<!-- end .fullwidth-section -->


	<!-- Fullwidth section
  ================================================== -->
	<div class="fullwidth-section padding2x no-padding-bottom">
		<div class="container img-right-bottom" data-image="assets/img/home5/laptop-mockup.png">
			<div class="row">
				<div class="col-md-6">
					<h2 style="font-weight:100;">Complete markets core benefits</h2>

					<p>Objectively cultivate collaborative whereas transparent leadership skills. Appropriately network
						transparent intellectual capital with value-added methodologies.</p>

					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne">
										Advantage list
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<p>Distinctively network cross-platform e-services whereas reliable partnerships.</p>
									<ul>
										<li>Synergistically integrate customized growth</li>
										<li>Strategies before orthogonal relationships</li>
										<li>Uniquely deliver granular resources robust convergence</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading collapsed" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
										 aria-controls="collapseTwo">
										Sequencial operations
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<p>Synergistically deploy customer directed metrics multifunctional technologies. Competently
										synthesize integrated web services with revolutionary resources.</p>

									<p>Assertively re-engineer high-quality synergy. Phosfluorescently create client-focused leadership
										for client-focused catalysts for change.</p>
								</div>
							</div>
						</div>
					</div>

					<button type="button" class="btn styled btn-primary">PURCHASE NOW</button>
				</div>
				<!-- .col-* -->
				<div class="col-md-6">
					<div class="space" data-height="200"></div>
				</div>
				<!-- .col-* -->
			</div>
			<!-- end .row -->
			<div class="space" data-height="60"></div>
		</div>
		<!-- end .container -->
	</div>
	<!-- end .fullwidth-section -->


	<div class="fullwidth-section" style="background-color:white; color:#fff;"
			 data-image="assets/img/demo-images/6.png">
		<div class="blurred-layer" style="background-color:#fb5857;"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="testimonials-slider">
						<div class="testimonial with-thumb style-centered">
							<a href="#"><img src="assets/img/demo-images/team-3.png" alt="Team"></a>
							<blockquote>
								<p>My favorite things in life don't cost any money. It's really clear that the most precious resource
									we all have is time.</p>
								<footer>Steve Jobs <span>Apple Inc.</span></footer>
							</blockquote>
						</div>
					</div>
					<!-- .testimonials-slider -->
				</div>
				<!-- .col-* -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</div>
	<!-- .fullwidth-section -->

</section>
