@import "variables";

.panel-group .panel-heading a.active {
	background-color: #fc5857;
	color: white;
}

.hljs {
	padding: 20px;
	font-size: 13px;
}

// Inline code
code {
	padding: 2px 4px;
	font-size: 90%;
	color: @code-color;
	background-color: @code-bg;
	border-radius: @border-radius-base;
}

.header {
	background-color: #242c36;
	outline: 10px solid #242c36;
}

.affix {
	position: relative;
	top: -65px;
}

.sub-footer {
	background-color: #242c36;
}

.divider.brand {
	width: 4px;
	height: 4px;
}

.divider.brand.centered:before,
.divider.brand.centered:after {
	top: 3px;
}

.mouse-wheel{
	bottom: 30px;
	width: 26px;
	height: 46px;
}

.affix .panel-group .panel-heading a:after {
	content: 'E';
}

.back-to-top{
	background-color: rgba(0, 0, 0, 0.2);
}

.visible .back-to-top {
	visibility: visible;
	opacity: 1;
}


